<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<body>
    <div class="center">
        Email<input type="text">
        <button class="btn" onclick="resetPass()">new password</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script>
        async function resetPass() {
            const data = document.getElementsByClassName('center');
            const email = data[0].children[0].value;
    
           const forget =  await axios.post('http://localhost:3000/forgetPass',{email:email});
          
           const message = forget.data.message;
           if(message === 'not') { alert('please provide the valid email id'); }
           if(message === 'ok') { document.body.innerHTML = '<h1> please check your email to change password</h1>'}
        }
    </script>
</body>
</html>